dev/index.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Консультації з громадськістю / Індекс</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link href="assets/css/master.css" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="page-wrapper l-theme">
      <div class="page-inner">
        <main class="l-content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="section-default text-center">
                  <h1>Сверстанные страницы</h1>
                  <ul class="list-page list-unstyled" style="text-align: left;">
                    <li><a class="text-success" href="home.html" target="_blank">Головна</a></li>
                    <li><a class="text-success" href="home_no-login.html" target="_blank">Головна (без входу)</a></li>
                    <li><a class="text-success" href="about.html" target="_blank">Про нас</a></li>
                    <li><a class="text-success" href="compaison.html" target="_blank">Порівняння політиків</a></li>
                    <li><a class="text-success" href="consultations.html" target="_blank">Консультації</a></li>
                    <li><a class="text-success" href="consultation.html" target="_blank">Консультація</a></li>
                    <li><a class="text-success" href="consultation-success.html" target="_blank">Консультація повідомлення</a></li>
                    <li><a class="text-success" href="consultation-edit-full.html" target="_blank">Консультація редагування повна</a></li>
                    <li><a class="text-success" href="consultation-edit.html" target="_blank">Консультація редагування</a></li>
                    <li><a class="text-success" href="deputies.html" target="_blank">Депутати</a></li>
                    <li><a class="text-success" href="deputy.html" target="_blank">Депутат</a></li>
                    <li><a class="text-success" href="deputy-edit.html" target="_blank">Депутат редагування</a></li>
                    <li><a class="text-success" href="instructions.html" target="_blank">Інструкції</a></li>
                    <li><a class="text-success" href="law.html" target="_blank">Нормативно-правова база</a></li>
                    <li><a class="text-success" href="news.html" target="_blank">Новини</a></li>
                    <li><a class="text-success" href="post.html" target="_blank">Новина</a></li>
                    <li><a class="text-success" href="login.html" target="_blank">Логін</a></li>
                    <li><a class="text-success" href="login_not-loged.html" target="_blank">Логін ввійти</a></li>
                    <li><a class="text-success" href="registration.html" target="_blank">Реєстрація</a></li>
                    <li><a class="text-success" href="user-edit.html" target="_blank">Редагування профіля</a></li>
                    <li><a href="email.html" target="_blank">Почта</a></li>
                    <li><a href="email_done.html" target="_blank">Почта 2</a></li>
                    <li><a href="poll-edit.html" target="_blank">Опитування створення</a></li>
                    <li><a href="poll.html" target="_blank">Опитування голосування</a></li>
                    <li><a href="poll-result.html" target="_blank">Опитування результат</a></li>
                    <li><a href="feedback.html" target="_blank">Зворотній зв’язок</a></li>
                    <li><a href="alerts.html" target="_blank">Повідомлення</a></li>
                    <li><a href="ui.html" target="_blank">UI</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div class="page__buffer"></div>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-emblem-2.png" alt="Герб"></a></span><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="img-fluid" src="assets/media/general/logo-region.svg" alt="Герб"></a></span></div>
                  <div class="footer__title">Консультації з<br>громадськістю</div>
                  <div class="footer__subtitle">ДонВЦОДА</div><a class="footer__btn btn btn-white" href="feedback.html">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md">
                    <ul class="footer-list list-unstyled">
                      <li class="footer-list__item"><a class="footer-list__link" href="#">Порівняння політіків</a></li>
                      <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                      <li class="footer-list__item"><a class="footer-list__link" href="#">Інструкції</a></li>
                    </ul>
                  </div>
                  <div class="col-md">
                    <ul class="footer-list list-unstyled">
                      <li class="footer-list__item"><a class="footer-list__link" href="#">Нормативно-правова база</a></li>
                      <li class="footer-list__item"><a class="footer-list__link" href="#">Єдині правила модерації повідомлень</a></li>
                      <li class="footer-list__item"><a class="footer-list__link" href="#">Повідомити про технічни негаразди або пропозиції</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="#"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a>
                    <div class="footer-devel__text">Компанія «БІС-СОФТ»<br>Всі права захищені.</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="footer-copyright">
            <svg class="ic" width="30" height="30">
                <use xlink:href="../svg-symbols.svg#creative-commons"></use>
            </svg>
        
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
                <div class="col-md-auto">
                    <ul class="soc-link list-inline">
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                    </ul>
                    <!-- end .b-soc-link-->
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-labelledby="modalGovLabel" aria-hidden="true">
          <div class="modal-dialog modalGov" role="document">
            <div class="wrap">
              <ul class="wrap-link">
                <li><a href="https://www.president.gov.ua/" target="_blank">Президент України</a></li>
                <li><a href="https://rada.gov.ua/" target="_blank"> Верховна Рада України</a></li>
              </ul>
              <ul class="wrap-link">
                <li><a href="http://www.ccu.gov.ua/" target="_blank">Конституційний суд України</a></li>
                <li><a href="http://www.rnbo.gov.ua/" target="_blank">Рада національної безпеки і оборони України</a></li>
              </ul>
              <ul class="wrap-link">
                <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
              </ul>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <!-- end b-gov-->
    </div>
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

markup/pages/index.pug
extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Сверстанные страницы
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="home.html" target="_blank") Головна
              li
                a.text-success(href="home_no-login.html" target="_blank") Головна (без входу)
              li
                a.text-success(href="about.html" target="_blank") Про нас
              li
                a.text-success(href="compaison.html" target="_blank") Порівняння політиків
              li
                a.text-success(href="consultations.html" target="_blank") Консультації
              li
                a.text-success(href="consultation.html" target="_blank") Консультація
              li
                a.text-success(href="consultation-success.html" target="_blank") Консультація повідомлення
              li
                a.text-success(href="consultation-edit-full.html" target="_blank") Консультація редагування повна
              li
                a.text-success(href="consultation-edit.html" target="_blank") Консультація редагування
              li
                a.text-success(href="deputies.html" target="_blank") Депутати
              li
                a.text-success(href="deputy.html" target="_blank") Депутат
              li
                a.text-success(href="deputy-edit.html" target="_blank") Депутат редагування
              li
                a.text-success(href="instructions.html" target="_blank") Інструкції
              li
                a.text-success(href="law.html" target="_blank") Нормативно-правова база
              li
                a.text-success(href="news.html" target="_blank") Новини
              li
                a.text-success(href="post.html" target="_blank") Новина
              li
                a.text-success(href="login.html" target="_blank") Логін
              li
                a.text-success(href="login_not-loged.html" target="_blank") Логін ввійти
              li
                a.text-success(href="registration.html" target="_blank") Реєстрація
              li
                a.text-success(href="user-edit.html" target="_blank") Редагування профіля
              li
                a(href="email.html" target="_blank") Почта
              li
                a(href="email_done.html" target="_blank") Почта 2
              li
                a(href="poll-edit.html" target="_blank") Опитування створення
              li
                a(href="poll.html" target="_blank") Опитування голосування
              li
                a(href="poll-result.html" target="_blank") Опитування результат
              li
                a(href="feedback.html" target="_blank") Зворотній зв’язок
              li
                a(href="alerts.html" target="_blank") Повідомлення
              li
                a(href="ui.html" target="_blank") UI

  .page__buffer
